@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.title {
  display: block;
  font-size: 32px;
  font-family: "Merriweather";
  margin-bottom: 24px;
  width: min-content;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    margin: auto;
  }
  .title {
    margin: auto;
  }
}
