@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.login {
  color: var(--primary);
  font-size: 34px;
  font-weight: 900;

  font-family: "merriweather";
  margin-bottom: 32px;
}

.account a {
  width: 100%;
  background: #f8f8fb;
  color: var(--light);

  height: 75px;
  font-size: 18px;
  border: 1px solid #dadaf2;

  border-radius: 4px;
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 12px;
  padding-top: 22px;
  font-family: "Poppins";
  color: black;
}
.user {
  display: flex;
  justify-content: space-evenly;
}

.user a {
  text-decoration: none;
  display: block;

  font-family: "Poppins";
  text-align: center;

  color: black;
}
.user span {
  font-family: "Poppins";

  font-weight: 900;
  font-size: 18px;
}

.user a:hover,
.account a:hover {
  color: var(--secondary);
}

.account a i {
  font-size: 30px;
  text-align: center;
  padding-right: 12px;
}
